<div class="container">
    <div class="row justify-content-center my-3">
        <h2 class="bi-briefcase-fill pr-2"></h2>
        <h2 class="mt-1 p-0"> Areas de atuação</h2>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <materialize-card (click)="irPara('trabalhador')">
                <div class="tituloCard">Direito do Trabalhador</div>
                <hr>
                <p>
                    Pacto pré-nupcial; Contrato de união estável;
                    Divórcio e separação de corpos; Visita e guarda compartilhada;
                    Tutela; Adoção; etc.
                </p>
            </materialize-card>
        </div>
        <div class="col-lg-4">
            <materialize-card (click)="irPara('tributario')">
                <div class="tituloCard">Direito Tributário</div>
                <hr>
                <p>
                    Pacto pré-nupcial; Contrato de união estável;
                    Divórcio e separação de corpos; Visita e guarda compartilhada;
                    Tutela; Adoção; etc.
                </p>
            </materialize-card>
        </div>
        <div class="col-lg-4">
            <materialize-card (click)="irPara('empresarial')">
                <div class="tituloCard">Direito Empresárial</div>
                <hr>
                <p>
                    Pacto pré-nupcial; Contrato de união estável;
                    Divórcio e separação de corpos; Visita e guarda compartilhada;
                    Tutela; Adoção; etc.
                </p>
            </materialize-card>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <materialize-card (click)="irPara('consumidor')">
                <div class="tituloCard">Direito do Consumidor</div>
                <hr>
                <p>
                    Pacto pré-nupcial; Contrato de união estável;
                    Divórcio e separação de corpos; Visita e guarda compartilhada;
                    Tutela; Adoção; etc.
                </p>
            </materialize-card>
        </div>
        <div class="col-lg-4">
            <materialize-card (click)="irPara('penal')">
                <div class="tituloCard">Direito Penal</div>
                <hr>
                <p>
                    Pacto pré-nupcial; Contrato de união estável;
                    Divórcio e separação de corpos; Visita e guarda compartilhada;
                    Tutela; Adoção; etc.
                </p>
            </materialize-card>
        </div>
        <div class="col-lg-4">
            <materialize-card (click)="irPara('civil')">
                <div class="tituloCard">Direito Civil</div>
                <hr>
                <p>
                    Pacto pré-nupcial; Contrato de união estável;
                    Divórcio e separação de corpos; Visita e guarda compartilhada;
                    Tutela; Adoção; etc.
                </p>
            </materialize-card>
        </div>
    </div>
</div>