<app-botao-top-atuacao></app-botao-top-atuacao>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 d-flex" style="justify-content: center; align-items: center;">
            <img src="assets/images/area-atuacao/direito-tributario.jpg" width="100%">
        </div>
        <div class="col-md-9" style="text-align: justify">
            <h5>Tributos Federais, Estaduais e Municipais:</h5>
            <p>
                • Elaboração de pareceres e consultoria;<br>
                • Defesas e Acompanhamento de execuções fiscais até seus trâmites finais;<br>
                • Promoção de ações e defesas em execuções fiscais;<br>
                • Representação perante órgãos administrativos;<br>
                • Contencioso administrativo fiscal e judicial tributário, em consonância com a posição do STJ e
                STF;<br>
                • Assessoria e estudo de viabilidade para obtenção de incentivos fiscais perante os órgãos federais e
                estaduais;<br>
                • Análise de questões tributárias envolvendo parceiros comerciais, nacionais e internacionais.
            </p>
        </div>
    </div>
</div>