<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 d-flex mb-3" style="align-items: center; justify-content: center;">
            <div>
                <h4>Entre em contato conosco</h4>
                <hr>
                <app-contato></app-contato>
                <hr>
                Faça uma consulta sem compromisso!
                <br>
                Ficaremos felizes em atendê-los
            </div>
        </div>
        <div class="col-md-6" style="justify-content: center; display: flex;">
            <img src="assets/images/informacao/entre-em-contato.jpg" width="80%">
        </div>
    </div>
</div>