<app-botao-top-atuacao></app-botao-top-atuacao>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 d-flex" style="justify-content: center; align-items: center;">
            <img src="assets/images/area-atuacao/direito-trabalhista.jpg" width="100%">
        </div>
        <div class="col-md-9" style="text-align: justify">
            <p>
                • Desenvolvimento de procedimentos inteligentes e menos onerosos;<br>
                • Análise e acompanhamento da terceirização de serviços;<br>
                • Mapeamento e redução de reclamatórias trabalhistas;<br>
                • Palestras sobre assédio moral e outros temos relativos ao direito do trabalho;<br>
                • Confecção de defesas e recursos contra autos de infração lavrados pelos agentes da fiscalização do
                trabalho e/ou Ministério Público do Trabalho em Procedimentos Investigatórios;<br>
                • Participação e aconselhamento em audiências perante as Delegacias Regionais do Trabalho, Ministério
                Público do Trabalho e Comissões de Conciliação Prévia;<br>
                • Assessoramento total na assinatura de Termos de Ajustamento de Conduta – TACs.
            </p>
        </div>
    </div>
</div>