<app-botao-top-atuacao></app-botao-top-atuacao>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-3 d-flex" style="justify-content: center; align-items: center;">
            <img src="assets/images/area-atuacao/direito-consumidor.jpg" width="100%">
        </div>
        <div class="col-md-9" style="text-align: justify">
            <p>
                Uma das áreas de maior relevância para as atividades empresariais atuais no Brasil é a de relações de
                consumo. Este setor cresce vertiginosamente no país, pois contamos com uma das legislações mais modernas
                e abrangentes do mundo, ao passo que as relações de consumo vêm se aperfeiçoando e ampliando
                diariamente, especialmente por conta dos novos recursos tecnológicos que nos são disponibilizados cada
                vez mais com mais frequência.
                <br><br>
                Mas, a ampliação do mercado consumidor e das próprias relações de consumo não trazem apenas aspectos
                positivos para os fornecedores de bens e serviços, nem para os próprios consumidores. Se por um lado o
                aumento do leque de serviços e bens ofertados, como o próprio aumento dos canais de estabelecimento
                destas oportunidades, gera ao mesmo tempo uma grande expansão nas necessidades jurídicas para estas
                empresas, por outro, o crescimento do universo de consumidores destes bens e serviços também cria a
                necessidade de proteção destes potenciais compradores.
            </p>
            <p>
                É com vistas a estes aspectos que nosso escritório de advocacia busca incessantemente atualizar-se e
                oferecer serviços compatíveis com os exigentes níveis de segurança que este crescimento demanda.
            </p>
        </div>
    </div>
</div>