<materialize-tab-group>
      <materialize-tab title="Direito do Trabalhador">
        <app-trabalhador-tab></app-trabalhador-tab>
    </materialize-tab>
      <materialize-tab title="Direito Tributário">
        <app-tributario-tab></app-tributario-tab>
    </materialize-tab>
      <materialize-tab title="Direito Empresárial">
        <app-empresarial-tab></app-empresarial-tab>
    </materialize-tab>
      <materialize-tab title="Direito do Consumidor">
        <app-consumidor-tab></app-consumidor-tab>
    </materialize-tab>
      <materialize-tab title="Direito Penal">
        <app-penal-tab></app-penal-tab>
    </materialize-tab>
      <materialize-tab title="Direito Civil">
        <app-civil-tab></app-civil-tab>
    </materialize-tab>
</materialize-tab-group>
