<div class="ml-4">
    <div class="row justify-content-center">
        <h2 class="bi-people-fill pr-2"></h2>
        <h2 class="mt-1 p-0">Quem somos</h2>
    </div>
    <hr>
    <div style="text-align: justify;">
        <p>
            Atuante no Direito há praticamente uma década, o Drº Clesio Bergamasco, iniciou sua carreira como estagiário
            em um dos mais renomados escritórios de advocacia de Maringá. Após a conclusão do curso de Direito na
            Faculdade
            Alvorada e juramento junto à Ordem dos Advogados do Brasil, passou a atuar na linha de frente nos interesses
            de seus clientes, realizando análise de casos, presidindo reuniões, elaborando estratégias jurídicas como
            forma
            de blindagem patrimonial, além da realização de audiências e despachos pessoais com Juízes e Desembargadores
            por todo o Paraná. Sua dedicação e trabalho árduo o levaram ao ingresso como sócio naquela banca advocatícia
            em menos
            de dois anos como advogado.
        </p>
        <p>
            O Drº Clesio Bergamasco possui como propósito fornecer soluções rápidas e eficazes aos seus clientes e
            parceiros, seja no âmbito extrajudicial ou administrativo, seja em eventual processo judicial, sempre
            proporcionando segurança, economia e sustentabilidade aos negócios envolvidos.

            Para tanto, atua com constante atualização e ampliação do know-how e atua com máxima dedicação e
            empenho no trabalho em desenvolvimento, sempre com o objetivo de proporcionar aos seus clientes o
            exercício da advocacia técnica, responsável e transparente a partir de embasamento legal, jurisprudencial e
            doutrinário.
        </p>
    </div>
</div>