<div>
    <div class="row justify-content-center">
        <h2 class="bi-check-circle-fill pr-2"></h2>
        <h2 class="mt-1 p-0">Nossos valores</h2>
    </div>
    <hr>
    <div>
        <materialize-accordion>
              <materialize-collapsible [isOpen]="true">
                    <materialize-collapsible-title>Missão</materialize-collapsible-title>
                    <materialize-collapsible-content>Prover serviços jurídicos de qualidade, a fim de auxiliar os
                    clientes a alcançar seus objetivos de forma eficaz e inovadora, através de advogados e colaboradores
                    qualificados, valorizados e dedicados a preservar a credibilidade construída nos mais de 50 anos de
                    atuação da empresa.</materialize-collapsible-content>
                  </materialize-collapsible>
              <materialize-collapsible>
                    <materialize-collapsible-title>Visão</materialize-collapsible-title>
                    <materialize-collapsible-content>Ser a melhor empresa brasileira na prestação de serviços jurídicos
                    especializados em Direito Empresarial Marítimo e Portuário.</materialize-collapsible-content>
                  </materialize-collapsible>
            <materialize-collapsible>
                    <materialize-collapsible-title>Valor</materialize-collapsible-title>
                    <materialize-collapsible-content>Somos dinâmicos, abertos a novos conhecimentos e acreditamos que os
                    serviços
                    jurídicos devem estar alinhados com os interesses estratégicos e com o contexto econômico de nossos
                    clientes.
                    <p>Queremos cultivar um ambiente de trabalho meritocrático, horizontal, transparente e que incentive
                        o
                        desenvolvimento de nossa equipe,
                        ressaltando que cada profissional é uma parte indissociável de nossa organização.</p>
                    Acreditamos em parcerias para fortalecer nossa atuação profissional.
                    Acreditamos que promover um ambiente de trabalho informal, conectado e desafiador seja a maneira
                    mais
                    eficaz de atrair novos
                    talentos para nosso escritório e mantê-los conosco.
                    Entendemos que a curiosidade e atenção para o mundo além das fronteiras da advocacia nos enriquece
                    pessoal e profissionalmente,
                    gerando reflexões que enriquecem o dia-a-dia de trabalho e instrumentos para o aprimoramento do
                    próprio
                    exercício da advocacia.
                </materialize-collapsible-content>
                  </materialize-collapsible>
        </materialize-accordion>
    </div>

</div>