<div class="ml-4">
    <div class="row justify-content-center">
        <h2 class="bi-people-fill pr-2"></h2>
        <h2 class="mt-1 p-0">Quem somos</h2>
    </div>
    <hr>
    <div style="text-align: justify;">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt a lacus vitae commodo. In consequat
            velit semper quam consequat blandit. Phasellus dignissim malesuada condimentum. Mauris fringilla imperdiet
            turpis, ac placerat arcu consequat ut. Aenean id aliquam massa. Donec pretium lectus in orci convallis
            sollicitudin. Nulla feugiat lacinia feugiat. Ut lobortis nec tellus vitae gravida.
        </p>
        <p>
            Sed nec eros a nisl imperdiet euismod. Ut ac augue pretium, tempor risus eget, iaculis felis. Donec
            imperdiet
            rutrum erat, nec rhoncus mauris molestie vitae. Cras et lacus nec magna hendrerit sollicitudin. Vivamus
            mattis
            fermentum elit vel bibendum. Maecenas mollis luctus leo, ut rhoncus nisl facilisis vel. In eu ultrices
            sapien.
            Phasellus eu elit turpis. Duis consectetur justo id nisi hendrerit semper. Cras tempor dapibus arcu vitae
            ullamcorper. Sed fermentum malesuada neque, id faucibus erat blandit quis. Nullam pretium, neque nec auctor
            tristique, ligula diam vehicula ligula, sed posuere est quam eget neque.
        </p>

    </div>
</div>